<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>NUnitTest</Title>
			<Author>Myself</Author>
        </Header>
        <Snippet>
            <Code Language="CSharp">
                <![CDATA[ 
				
			   		 public class ObjectTests
					{     

						[SetUp]
						public void Setup()
						{           
						}

						[Test]
						public void TestFunction_Should_TestBehaivour()
						{  
						}

						[TearDown]
						public void TearDown()
						{          
						}
					}
				
				]]>
            </Code>
			<Imports>
            <Import>
            <Namespace>NUnit.Framework</Namespace>
            </Import>
      </Imports>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>